<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FacultyCourseChoiceCollectionPortal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddFaculty</display-name>
    <servlet-name>AddFaculty</servlet-name>
    <servlet-class>com.Tejas.FCCCP.AddFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFaculty</servlet-name>
    <url-pattern>/AddFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourse</display-name>
    <servlet-name>AddCourse</servlet-name>
    <servlet-class>com.Tejas.FCCCP.AddCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourse</servlet-name>
    <url-pattern>/AddCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseServlet</display-name>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>com.Tejas.FCCCP.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyLogin</display-name>
    <servlet-name>FacultyLogin</servlet-name>
    <servlet-class>com.Tejas.FCCCP.FacultyLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyLogin</servlet-name>
    <url-pattern>/FacultyLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitChoices</display-name>
    <servlet-name>SubmitChoices</servlet-name>
    <servlet-class>com.Tejas.FCCCP.SubmitChoices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitChoices</servlet-name>
    <url-pattern>/SubmitChoices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportPDFServlet</display-name>
    <servlet-name>ExportPDFServlet</servlet-name>
    <servlet-class>com.Tejas.FCCCP.ExportPDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportPDFServlet</servlet-name>
    <url-pattern>/ExportPDFServlet</url-pattern>
  </servlet-mapping>
</web-app>